# Ignore node_modules in both frontend & backend
backend/node_modules/
frontend/node_modules/

# Ignore environment files
backend/.env
frontend/.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs & temp files
*.log
npm-debug.log
yarn-error.log
